
body {
    background-color: rgb(243, 184, 217);
  }
  
  h1 {
    color: white;
    text-align: center;
  }
#p1 {
  color: white;
  text-align: center;
}
#p2 {
  color: white;
  text-align: center;
}
#p3 {
  color: white;
  text-align: center;
}
#p4 {
  color: white;
  text-align: center;
}
#p5 {
  color: white;
  text-align: center;
}
#p6 {
  color: white;
  text-align: center;
}